.row.hidden
  .col-md-12
    .tab-container
      %ul.nav.panel-warning.nav-tabs{:style => "background: #F44336;"}
        %li.active
          %a{"data-toggle":"tab", 'data-target': "#visits", 'ng-click':"resizeChart('visits_chart'); referrals()"} Visits
        %li
          %a{"data-toggle":"tab", 'data-target': "#visitors", 'ng-click':"resizeChart('visitors_chart'); referrals()"} Visitors
        %li
          %a{"data-toggle":"tab", 'data-target': "#pages-session", 'ng-click':"resizeChart('page_per_visit_chart'); referrals()"} Pages/Session
        %li
          %a{"data-toggle":"tab", 'data-target': "#session-duration", 'ng-click':"resizeChart('avg_session_chart'); referrals()"} Avg. Session Duration
        %li
          %a{"data-toggle":"tab", 'data-target': "#new-session", 'ng-click':"resizeChart('new_visits_chart'); referrals()"} % New Sessions
        %li
          %a{"data-toggle":"tab", 'data-target': "#bounce-rate", 'ng-click':"resizeChart('bounce_chart'); referrals()"} Bounce Rate
      .tab-content
        #visits.tab-pane.active
          .panel-body
            .centered
              #visits_chart
        #visitors.tab-pane
          .panel-body
            .centered
              #visitors_chart
        #pages-session.tab-pane
          .panel-body
            .centered
              #page_per_visit_chart
        #session-duration.tab-pane
          .panel-body
            .centered
              #avg_session_chart
        #new-session.tab-pane
          .panel-body
            .centered
              #new_visits_chart
        #bounce-rate.tab-pane
          .panel-body
            .centered
              #bounce_chart
        .row
          .col-sm-12.text-center{ "ng-include": "", "src": "'themeX/google_analytics/_chartFilter.html'" }

.row
  .col-md-12
    .tab-container
      .tab-content{'st-table':"referrals", 'st-safe-src':"copy_referrals"}
        .table-responsive
          %table#referral_table.table.table-hover.table-bordered.table-vam.mb-5
            %thead
              %tr
                %th
                  %u.help_pointer{ "title": "Source from where users visited your site" }
                    Source
                %th
                  %u.help_pointer{ "title": "Number of unique visitors to your site from a source"  }
                    Users
                %th
                  %u.help_pointer{ 'title': 'Number of sessions your top pages are getting. We have also included the percent of total sessions a given page getting is' }
                    Sessions
                %th
                  %u.help_pointer{ 'title': 'Number of page views your top page are getting. We have also included the percent of total page views a given page is getting' }
                    Page Views
                %th
                  %u.help_pointer{ "title": "Number of pages a user from a source visited in your site per session on average" }
                    Pages/Session
                %th
                  %u.help_pointer{ "title": "Average time spent by users from a source on your site" }
                    Avg. Session
                    %br Duration
                %th
                  %u.help_pointer{ "title": "Percent of users from a source who directed away from your site after visiting a single page" }
                    Bounce Rate
            %tbody
              - data.each do |referral|
                %tr
                  %td{align: "left"}= referral["sessionSource"]
                  %td= referral["totalUsers"]
                  %td= referral["sessions"]
                  %td= referral["screenPageViews"]
                  %td= referral["screenPageViewsPerSession"]
                  %td= referral["averageSessionDuration"]
                  %td  #{referral["bounceRate"]}%

:javascript
  $(document).ready( function () {
    var table = $('#referral_table').DataTable({
      "pageLength": 25
    });

    $('#referral_table_filter input').on('keyup change', function () {
      table.column(0).search($(this).val()).draw();
    });
  });