.row
  .col-md-12
    .tab-container
      .tab-content{'st-table':"table_data",'st-safe-src':'cp_table_data'}
        .table-responsive
          %table#pages_table.table.table-hover.table-bordered.table-vam.mb-5
            %thead
              %tr
                %th #
                %th
                  %u.help_pointer{ 'title': 'The top Pages that are getting the most traffic on your site' }
                    Top Pages
                %th
                  %u.help_pointer{ 'title': 'Number of sessions your top pages are getting. We have also included the percent of total sessions a given page getting is' }
                    Sessions
                %th
                  %u.help_pointer{ 'title': 'Number of page views your top page are getting. We have also included the percent of total page views a given page is getting' }
                    Page Views
                %th
                  %u.help_pointer{ 'title': 'Number of page views your top page are getting.We have also included the percent of total page views a given page is getting' }
                    Avg. Session
                %th
                  %u.help_pointer{ 'title': 'Number of pages users visited per session starting from the given page' }
                    Pages/Session
            %tbody
              - data.each_with_index do |page, index|
                %tr
                  %td= index + 1
                  %td.break-long-text{align: "left"}
                    -# %a.break-long-text{'ng-href':"{{row.site | web_link}}",target:'_blank'}
                    #{page["pagePath"]}
                  %td
                    = page["sessions"]
                    - p = get_percent(page["sessions"], total_sessions)
                    %span.per_info (#{p} %)
                  %td
                    = page["screenPageViews"]
                    - s = get_percent(page["screenPageViews"], total_pageviews)
                    %span.per_info (#{s} %)
                  %td= page["averageSessionDuration"]
                  %td= page["screenPageViewsPerSession"]

:javascript
  $(document).ready( function () {
    var table = $('#pages_table').DataTable({
      "pageLength": 25
    });

    $('#pages_table_filter input').on('keyup change', function () {
      table.column(1).search($(this).val()).draw();
    });
  });
