- content_for :custom_assets do
  = stylesheet_link_tag 'themeX_base', media: 'all', 'data-turbolinks-track': false
  = stylesheet_link_tag 'public/case_study', media: 'all', 'data-turbolinks-track': false
  = stylesheet_link_tag 'public/public_pages', media: 'all', 'data-turbolinks-track': false
  %link{href: 'https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css', rel: 'stylesheet'}
- content_for :title do
  = @agency.name
.public-page-wrapper
  .horizontal-align.text-center{style: "background:#{@agency.case_study_portfolio_header_color}"}
    .pt-xl.pb-xl
      .page-logo-wrapper
        - if @agency.weburl.present?
          %a{href: formatted_url(@agency.weburl), target: '_blank'}
            = image_tag @agency.logo || '', class: 'img-responsive'
        - else
          = image_tag @agency.logo || '', class: 'img-responsive'
  .social-media-ad-image
    .px-lg-4
      .page-heading.mb-n.pb-md.mt-sm
        .d-flex.justify-content-between.align-items-center
          .col-auto
            %h1
            Plug And Play Ads

    .content-container.text-center
      .bg-white.rounded.shadow.p-4.my-5
        - @plug_and_play_ad.images.where(heading: true).each do |image|
          %div.slide-item
            %img.img-responsive.m-md-auto{alt: '', src: image.file.url}

    .content-container.text-center
      .bg-sky-blue.border-1.border-blue.rounded.shadow.p-4.my-5
        .slider-wrapper
          .images-slider
            - @plug_and_play_ad.images.where(heading: false).each do |image|
              %div.slide-item
                %img.img-responsive.m-md-auto{alt: '', src: image.file.url}

.section.bg-muted.text-muted.public-page-footer
  .container.container--sm
    .py-4.text-center
      %p.m-0
        = "© #{Date.current.year} #{@agency.name}. All Rights Reserved."
%script{src: 'https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js'}
%script{type:'text/javascript'}
  $(document).ready(function(){
  $('.images-slider').bxSlider({
  adaptiveHeight: true,
  });
  });