%p
  %h4
    New subscription recieved:
    = @package_name

%p
  Amount :
  = number_to_currency(@package.amount)

- if @package.onetime_charge.present?
  %p
    One-time Charge:
    = number_to_currency(@package.onetime_charge)

- if @package.expedited_onboarding.present?
  %p
    Expedited Onboarding fee:
    = number_to_currency(@package.expedited_onboarding_fee)

- if @addon_plans.present?
  %br
  %p
    %b
      Addon Plans
  - @addon_plans.each do |plan|
    %p
      = plan.product_name
      = "#{number_to_currency(plan.amount)}#{plan.interval_text}"
      - if plan.implementation_fee.present?
        = ", Implementation Fee : #{number_to_currency(plan.implementation_fee, precision: 0)}"
  %br
%p
  Total Amount:
  = number_to_currency(@package.amount.to_f + @package.expedited_onboarding_fee.to_f + @package.onetime_charge.to_f + @addon_plans&.sum(&:amount).to_f + @addon_plans&.map(&:implementation_fee).compact.sum)

%p
  Client :
  = @business.name
