%script{src: "https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js", :type => "text/javascript"}
%link{href: "https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css", rel: "stylesheet"}

.page-heading.no-margin-bottom
  %h1
    %i.clickx-icon-Support.title-icon>
    Support
  .options
    .form-group
      %a.btn.btn-warning.btn-raised{ 'href': "https://support.clickx.io/support/home", 'target': '_blank' }
        %i.fa.fa-support
        Knowledge Base
.container-fluid
  .row
    .col-md-12
      .tab-container
        .tab-content
          - if current_business.name == "Clickx" || current_user.agency_admin?
            %iframe#freshwidget-embedded-form.freshwidget-embedded-form{ frameborder: "0", height: "500px", scrolling: "no", src: "https://clickx.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Clickx+Support&submitTitle=Submit&submitThanks=Thank+you%2C+we+will+get+back+to+you+shortly!&screenshot=no", title: "Feedback Form", width: "100%"}
          - elsif current_business.name != "Clickx" && current_user.role != "agency_admin"
            .tab-content
              .container-fluid
                .row
                  .col-sm-3.p-n{ 'style': 'border-right: solid 3px grey;' }
                    - if current_agency.square_logo.present?
                      %img.img-responsive{ :src => "#{current_agency.square_logo}",'style': 'height: 80px;width: auto;' }
                    - elsif current_agency.logo.present?
                      %img.img-responsive{ :src => "#{current_agency.logo}",'style': 'height: 80px;width: auto;' }
                    - elsif current_agency.email_logo.present?
                      %img.img-responsive{ :src => "#{current_agency.email_logo}",'style': 'height: 80px;width: auto;' }
                  .col-sm-9
                    %h4.text-muted.ml-xs
                      %i.fa.fa-map-marker
                        = current_agency.name + ', ' + current_agency.address
                    %h4.text-muted
                      %a{ :href => "mailto:#{current_agency.support_email}" }
                        %i.fa.fa-envelope
                        = current_agency.support_email
                    %h4.text-info
                      %i.fa.fa-phone
                      = current_agency.phone
