- content_for :custom_assets do
  = stylesheet_link_tag 'themeX_base', media: 'all', 'data-turbolinks-track': false
  = stylesheet_link_tag 'public/case_study', media: 'all', 'data-turbolinks-track': false
  = stylesheet_link_tag 'public/public_pages', media: 'all', 'data-turbolinks-track': false

- content_for :title do
  = current_agency.name
.page-heading.py-4
  %h1.py-3
    Social Posts

.content-container.text-center.px-4.pt-5
  .bg-white.rounded-8.shadow.mb-5
    .social-media-ad
      .d-flex.justify-content-between.align-items-center.p-4
        .col-auto
          .d-flex.align-items-center
            .col-auto
              .avatar-img{style: "background-image: url('#{current_agency.square_logo}'); background-image:#{current_agency.case_study_portfolio_header_color}"}
                -if !current_agency.square_logo.present?
                  %span.d-inline-block.py-3.fw-sb
                    = current_agency.name.to_s.strip.first
            .col-auto.pl-3.text-left
              .fw-sb.mb-0 Clickx
              %span.text-grey.fs-12
        .col-auto
          %button.fb-more-btn
            %i.fa.fa-ellipsis-v
      %a.sodial-media-ad-banner.d-block.relative{href: @social_media_ad.title, target: '_blank'}
        - @social_media_ad.images.where(heading: true).each do |image|
          %img.img-responsive.m-md-auto{alt: '', src: image.file.url}
          %span.canva-btn
            %img{:src => '/logo-canva.svg'}
            Design with Canva
      .sodial-media-ad-content.pt-5.px-4.text-left.fs-14
        - if @social_media_ad.description.present?
          -# - if @social_media_ad.description.length > 150
          -#   .less-text
          -#     = @social_media_ad.description.to_s.truncate(150)
          -# - else
          = @social_media_ad.description
      %hr.mt-5.mb-0
      .sodial-media-ad-footer.px-4.py-3
        .d-flex.justify-content-between
          .col-auto.pr-4
            %i.fa.fa-thumbs-o-up.mr-1
            Like
          .col-auto
            %i.fa.fa-comment-o.mr-1
            Like
          .col-auto
            %i.fa.fa-mail-forward.mr-1
            Share
