- content_for :title do
  FAQs | Clickx

.page-heading
  .d-flex.flex-wrap.justify-content-between
    .col 
      %h1
        = succeed "FAQ's" do
          %i.clickx-icon-help
    .col
      .options
        .inlineb.mr-md
          %button.btn.btn-warning.btn-raised{'data-toggle': 'modal', 'data-target': "#support-modal"}
            Have a Question
            %i.fa.fa-question-circle

.container-fluid
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          .form-group.m-n
            %input.form-control.faq{placeholder: 'Search'}

      - Faq::SECTIONS.each_with_index do |section, index|
        - faqs = Faq.where(section: section[1]).order(position: :asc)
        - next if faqs.blank?
        .section-panel.panel.panel-default
          %a{'data-toggle':'collapse', href: "#collapseP#{index}"}
            .panel-heading
              %h2= section[0]
          .collapse.in{id: "collapseP#{index}"}
            .panel-body
              .faq-list.panel-group.mb-n{id: "accordion#{index}"}
                - faqs.each do |faq|
                  .cus-acc.panel
                    %a{'data-parent':"#accordion#{index}", 'data-toggle':'collapse', href: "#collapse#{faq.id}"}
                      .acc-heading
                        %h2= faq.question
                    .collapse{id: "collapse#{faq.id}"}
                      .acc-body
                        %p= faq.answer.html_safe

#support-modal.modal.fade{role: "dialog", tabindex: '-1'}
  .modal-dialog.clx-modal.spl-modal.modal-darkstone-blue-bg{role: 'document'}
    .modal-content
      .modal-header
        Have a Question?
        %a.close{'data-dismiss': 'modal'}
          %span ×
      .modal-body
        .embed-responsive.embed-responsive-4by3
          %iframe#freshwidget-embedded-form.freshwidget-embedded-form{ frameborder: "0", height: "650px", scrolling: "no", src: "https://clickx.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=Clickx+Support&submitTitle=Submit&submitThanks=Thank+you%2C+we+will+get+back+to+you+shortly!&screenshot=no&helpdesk_ticket[requester]=#{current_user.email}", title: "Feedback Form", width: "100%"}



:javascript
    $('.faq').on('keyup input', function(e) {
      var text = $.trim($(this).val());
      SearchFAQ(text);
    });

    function FullTextContains(innerText, searchTerm) {
      for (x = 0; x < searchTerm.length; x++) {
        if (innerText.toLowerCase().indexOf(searchTerm[x].toLowerCase()) >= 0) {
          return true;
        }
      }
      return false;
    }

    function SearchFAQ(searchTermText) {
      var searchTerm = searchTermText.split(' ');
      if (searchTermText != '') {
        $(".section-panel").filter(function(index) {
          let filtered = $(this).find('.faq-list .panel').filter(function(index) {
            var panelText = $.trim($(this).text());
            if (FullTextContains(panelText, searchTerm) == true) {
              return true;
            } else {
              $(this).slideUp();
              return false;
            }
          }).slideDown()

          if (filtered.length > 0) {
            return true;
          } else {
            $(this).slideUp();
            return false;
          }
        }).slideDown()
      } else {
        $(".section-panel").slideDown();
        $(".faq-list .panel").slideDown();
      }
    }
