- @courses['fulfilment'].each do |course|
  .col-xs-12.col-sm-6.col-lg-4.col-xl-3
    .academy-item
      - if agency_access_to_course?(course)
        %a.academy-item__link{href: agency_course_path(course)}
          - if course.thumbnail_file_url.present?
            = image_tag course.thumbnail_file_url
          %h2.academy-item__name
            = course.title
          = course_progress(course)
      - else
        .academy-lock-icon
          %i.fa.fa-lock{"aria-hidden":"true"}
        %a.academy-item__link{href: 'javascript:void(0)'}
          - if course.thumbnail_file_url.present?
            = image_tag course.thumbnail_file_url
          %h2.academy-item__name
            = course.title
          = course_progress(course)
        - if course.access_tip.present?
          .academy-item-notice
            = course.access_tip
      .academy-item--shadow.academy-item--shadow1
      .academy-item--shadow.academy-item--shadow2
.spacer15