.container
  = link_to 'http://www.clickx.io', target: '_blank', class: 'login-logo' do
    = image_tag "logo-dark.svg"
  .row
    .col-md-8.col-md-offset-2
      = form_for @user, url: free_signup_path, method: :post, class: 'form-vertical cardy clickx-parsley',"data-parsley-validate": '' do |f|
        .panel.tranin.panel-midnightblue{"data-widget": {draggable: false}}
          .panel-heading
            %h2.regtitle Start your Free Plan
          .panel-body
            .col-sm-12.p-n
              .col-sm-4
                = link_to 'Sign up with Facebook', user_facebook_omniauth_authorize_path(auth: true), class: 'social-signin facebook'
              .col-sm-4
                = link_to 'Sign up with Google', user_google_oauth2_omniauth_authorize_path(auth: true), class: 'social-signin google'
            .col-sm-12.mt-md.mb-md
              .split
                .or OR
            .col-sm-12.p-n
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: 'user_first_name'}
                  First Name
                  .red.inline *
                .col-md-12
                  = f.text_field :first_name, required: true, class: 'form-control col-sm-5'
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: 'user_last_name'}
                  Last Name
                .col-md-12
                  = f.text_field :last_name, class: 'form-control col-sm-5'
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: "user_email"}
                  Email
                  .red.inline *
                .col-md-12
                  = f.email_field :email, required: true, class: 'form-control'
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: "business_name"}
                  Company/Organization
                  .red.inline *
                .col-md-12
                  = text_field_tag 'business[name]', '', required: true, class: 'form-control'
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: 'user_phone'}
                  Phone
                .col-md-12
                  = f.phone_field :phone, class: 'form-control', placeholder: "+1 555 555 1234"
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: "business_domain"}
                  Domain
                .col-md-12
                  = text_field_tag 'business[domain]', '', class: 'form-control col-xs-6'
              .form-group.m-n.p-n.col-sm-6
                %label.col-md-12.control-label{for: "business_target_city"}
                  Target City
                .col-md-12
                  = text_field_tag 'business[target_city]', '', class: 'form-control'
              .form-group.m-n.col-sm-12.p-n
                .checkbox.checkbox-inline.checkbox-primary
                  %label
                    %input#tnc{checked: "checked", name: "checkboxs1", type: "checkbox", disabled: true, readonly: true}
                    \&#160;&#160;I accept the
                    %a.color-FF9800{href: "http://www.clickx.io/terms/", target: "_blank"} User Agreement
              = f.fields_for :identities, @identity do |i|
                = i.hidden_field :provider
                = i.hidden_field :uid

          .panel-footer.pt-n
            .col-sm-12
            = f.submit "Create My Account", class: 'btn btn-warning btn-raised btn-lg mb-lg'
