.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1uwe9UYfy67lLhNB4zrHO1h1cjapxaOzNudDwZgSwDkc", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Personalized Cold Email Outreach
        .px-4.pt-5.flex-col
            .fwn Personalized Cold Email Outreach
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1ssCxj-uGeQE3Pt-TBv44bGTz6idETT7ejtGxO-enu5U/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span LinkedIn Organic Outreach
        .px-4.pt-5.flex-col
            .fwn LinkedIn Organic Outreach
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1peVXX4yddSA0cfz7dAH80tq0tmqLXbtKL2N0HFp9914/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Agency Scaling KPIs
        .px-4.pt-5.flex-col
            .fwn Agency Scaling KPIs
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1TSIgRSOfyZVq4kGfe1PUFhBavynpTUvj12a5rh9FTzY/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Lead Nurting Systems w/ Email
        .px-4.pt-5.flex-col
            .fwn Lead Nurting Systems w/ Email
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1AUoxjLQSRyBe1Q47K9udpgMBNLg0y4JFvoYeAohRF8s/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Scale Sales System
        .px-4.pt-5.flex-col
            .fwn Scale Sales System
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1e7Up8Cl8-Fxf6LE63LaRx2b7tiI1nMbfZKSH12Ap9Io/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Internal Market Research
        .px-4.pt-5.flex-col
            .fwn Internal Market Research
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1jbZycI7_yckcpcL1b5zpSbKUFU7KJ_qcLLgG3ZDDefg/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Building Rapport & Trust
        .px-4.pt-5.flex-col
            .fwn Building Rapport & Trust
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1GBwlPbafDt42Q9bKdAzM-a-ovcwwKP_XYaqnO3rkRvI/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Picking Your Niche & Defining Their Problems
        .px-4.pt-5.flex-col
            .fwn Picking Your Niche & Defining Their Problems
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1Qmg8CpMQnDz4-jIoZLYlFMr1WPu3xYnVQqLJQRmT82k/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span DISC Assessments
        .px-4.pt-5.flex-col
            .fwn DISC Assessments
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1b1LAOoRAF3RfOyeDGUr6iuaxoFPwjOHuYALqsXX5YUE/", :target => "_blank"} 
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span External Market Research
        .px-4.pt-5.flex-col
            .fwn External Market Research
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/15aulfDwn2ConwEHeBuDpLggm3Rz4Gq5IHVRAtgFW5sQ/", :target => "_blank"}
    
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Uncovering Pain
        .px-4.pt-5.flex-col
            .fwn Uncovering Pain
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1rbhqwsX7SfnYoD8mYSBydYnrNc8dVdTTn7DmoBRg6K0/", :target => "_blank"} 
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Defining your Solutions and Packaging
        .px-4.pt-5.flex-col
            .fwn Defining your Solutions and Packaging
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1N8V95Mdrg_6eBuJWAB0xCf1oXN0GMIwEw1clPOQHU-8/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Budget Uncovering
        .px-4.pt-5.flex-col
            .fwn Budget Uncovering
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1dKcgv6Bc4uekQIJ34iQXtt82SiGgykZFsuqDVcHaWtk/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Elevator Pitch
        .px-4.pt-5.flex-col
            .fwn Elevator Pitch
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1iWuEjyPLcJp0zscAdzOIRdroL8WNdVEgzlb-Ee1TMI0/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Presentation of New Opportunity
        .px-4.pt-5.flex-col
            .fwn Presentation of New Opportunity
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1MNSVczWXiJPS9qs3SZlujQcQKt4HouHsGYJx9rOFWYc/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Email Prospecting
        .px-4.pt-5.flex-col
            .fwn Email Prospecting
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1_Rx39GeasQu8QMedC49bR0D_3rDOahIk-Os-orsoYtA/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span How to Become a Thought Leader using Digital PR
        .px-4.pt-5.flex-col
            .fwn How to Become a Thought Leader using Digital PR
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1vc72cDAqjWls2eVA2fpgcK-Wm6eo51Nsl0QSP7tZ9To/", :target => "_blank"} 
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Crafting Your Freebies
        .px-4.pt-5.flex-col
            .fwn Crafting Your Freebies
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1qr9kwjj2TgoB8a9uS7Zf3sovsS5ILlZRmJqyePbuamM/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Cultivating Relationship
        .px-4.pt-5.flex-col
            .fwn Cultivating Relationship
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1pWy69kdysQhXnTvN34oJxi3EGfIc6SZ_p55oH4yswWY/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Growing Your Agency Mindset
        .px-4.pt-5.flex-col
            .fwn Growing Your Agency Mindset
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1xGgef4SDzHs2sYTcwMDJPgf8GYeY8OQ80nXnLq5IP_I/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Webinar/VSL Sales 📈
        .px-4.pt-5.flex-col
            .fwn Webinar/VSL Sales 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1rd6sfT3SO_dWz80TzWE8HbexKfZPk4-K5JhoSLK2Yik/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span SEO Leads 📈
        .px-4.pt-5.flex-col
            .fwn SEO Leads 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1PtX6CUoNN1IcbmeSsgolqAR7COrcQdnoeoJy2dJR1UA/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span 7 Effective Marketing Strategies
        .px-4.pt-5.flex-col
            .fwn 7 Effective Marketing Strategies
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1YVWWUo3PaQZ1OQvkzEn7XPRgMeut2gnCGRrFMAKpk_Y/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Marketing Strategies That Will Help Your Business Get Attention
        .px-4.pt-5.flex-col
            .fwn Marketing Strategies That Will Help Your Business Get Attention
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1_PhDmss6iFcZ-GYSg_XKDZELtSYTQjGXecHPJYJ8_AU/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Digital Marketing Action Plans - For Beginners
        .px-4.pt-5.flex-col
            .fwn Digital Marketing Action Plans - For Beginners
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1-NV_2H-v-G9Www--Czq5AF20aErEZ4zJ8tcT6AmuJsk/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Picking Your Niche & Defining Their Problems
        .px-4.pt-5.flex-col
            .fwn Picking Your Niche & Defining Their Problems
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1-NV_2H-v-G9Www--Czq5AF20aErEZ4zJ8tcT6AmuJsk/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span 7 Effective Marketing Strategies
        .px-4.pt-5.flex-col
            .fwn 7 Effective Marketing Strategies
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1FyH-D7rqia_Q4Wqc0LFQnTElO1jGqBfJu8GM-Wl-vLs/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Starting and Succeeding with your Marketing Agency
        .px-4.pt-5.flex-col
            .fwn Starting and Succeeding with your Marketing Agency
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/14VRmQKGjdiBDVC8CCvevI1WgHcX8vSuUPud3N-VwQhY/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Agency Growth Plan
        .px-4.pt-5.flex-col
            .fwn Agency Growth Plan
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1-pXba48ZXa7_8EIJ7wTJ-99Bl06IS0HRzjkXSGCZfSg/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Reverse Engineer Your Revenue Goal 📈
        .px-4.pt-5.flex-col
            .fwn Reverse Engineer Your Revenue Goal 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1M55v0n8RNnBBLKzVdJ2zOiMh7g6fiu9X8LIUoHcMyV4/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Uncovering Pain 📈
        .px-4.pt-5.flex-col
            .fwn Uncovering Pain 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1Ntd0s9_cmfiPmTiy4JLjee7PeQ33sE7Hr4qEdYEhxG4/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Unique Competitive Advantage
        .px-4.pt-5.flex-col
            .fwn Unique Competitive Advantage
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1JBa28ij-_kkgH09UFQK17LfPV9xbphySrP8WAmR8pWo/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span LinkedIn Organic Outreach 📈
        .px-4.pt-5.flex-col
            .fwn LinkedIn Organic Outreach 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1xD16mVFIEOlGPr2dH1LkR2Jun1TvFM4MF1ypR9yw09I/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Marketing in 2023
        .px-4.pt-5.flex-col
            .fwn Marketing in 2023
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1vnY4xPKAQ3X13s49mmB6KHI3Osgxid2mu3DaKKF2qEs/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span High Ticket Consulting Call Breakdown 📈
        .px-4.pt-5.flex-col
            .fwn High Ticket Consulting Call Breakdown 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1WKChJ3lVpm1ZtrtZwdBJgz7uvQvj5BdntTNq-CHY6C4/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span Building a Marketing Funnel
        .px-4.pt-5.flex-col
            .fwn Building a Marketing Funnel
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1WKChJ3lVpm1ZtrtZwdBJgz7uvQvj5BdntTNq-CHY6C4/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title
                %span How to Make 2023 Your Best Year Yet 📈
        .px-4.pt-5.flex-col
            .fwn How to Make 2023 Your Best Year Yet 📈
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
            