.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1kDSdKd1MMiGwVwbXfShedPzhoyqIrRVcb9i62pfKBPE", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title Digital Marketing Agency Cheatsheet
        .px-4.pt-5.flex-col
            .fwn Digital Marketing Agency Cheatsheet
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1hPDW6dHQtMhiIvs1g2kPYcSfcXprgdI6W4VblNjcJIE/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title Interview Script For Market Research + Lead Gen
            .ripple-container
        .px-4.pt-5.flex-col
            .fwn Interview Script For Market Research + Lead Gen
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1LFJgnRsPfokhs9YDZUUW5rMoJb42LvgmpkbfMZg172Y", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title KILLER Offer Worksheet
        .px-4.pt-5.flex-col
            .fwn KILLER Offer Worksheet
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1Ps7G73UGvGAK4oGtSsvs35v2ocNOTNKbjDXugO1ZsWo", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title HVLC vs HVHC Cheatsheet
        .px-4.pt-5.flex-col
            .fwn HVLC vs HVHC Cheatsheet
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1bG6Vs7lOEQ3KOz0SlOzg1QM3xBHV2tcvw5FXJixPstk", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title AGENCY Sales Script (3 Pillars)
        .px-4.pt-5.flex-col
            .fwn AGENCY Sales Script (3 Pillars)
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/spreadsheets/d/1NlLWUwn4e9c_NQALop2QJKcoXaqVW2Nq/edit#gid=1458924727", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title SCALE Daily KPI's Tracker
        .px-4.pt-5.flex-col
            .fwn SCALE Daily KPI's Tracker
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://drive.google.com/drive/folders/1onYUfZisBPzKj-r6okZLtVogkbk6vuAf", :target => "_blank"} 
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title 136 Post Swipefile
        .px-4.pt-5.flex-col
            .fwn 136 Post Swipefile
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1G_raNb3cnleMKw77xSjgtptDwxkuW1UPIoJQ5ZAS7Ps", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title Organic Playbook: Setting Up Your Facebook Chat CRM
        .px-4.pt-5.flex-col
            .fwn Organic Playbook: Setting Up Your Facebook Chat CRM
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/17OSYHayyfc7GX5DLqYkxCw8xuC9yHgvaUBsJr0ic2n8", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title Organic Playbook: Joining Groups & Your Ideal Connection
        .px-4.pt-5.flex-col
            .fwn Organic Playbook: Joining Groups & Your Ideal Connection
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/presentation/d/1FzJaTY3mLSMPjr9O5UlT9Q_WXYipc6zD2rEIjmb3kXc/", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title **MAKE YOUR OWN COPY **"3 Pillar" 1 Page Program Overview
        .px-4.pt-5.flex-col
            .fwn **MAKE YOUR OWN COPY **"3 Pillar" 1 Page Program Overview
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://docs.google.com/document/d/1GpymK2JPl7QJ-OYrO4dFFgW2s6xnCnS-xlVoMCB7mrs", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title Mini Training Guidelines & Supporting Links
        .px-4.pt-5.flex-col
            .fwn Mini Training Guidelines & Supporting Links
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://www.scalesystem.com/wp-content/uploads/2022/07/scale_90_day_roadmap.pdf", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'scale-roadmap.png', class: "document-image br-10 w-100"
        .px-4.pt-5.flex-col
            .fwn Mini Training Guidelines & Supporting Links
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://www.canva.com/design/DAFVhJZyFUc/fuVDC48y0hPLhbSZW6avaQ/view?clickId=1CDXWTUU4xyNR8CUCay5-1w5UkAzdkz9CU57040&utm_medium=affiliate&utm_source=Affinity._95368&irgwc=1#1", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title My Agency Marketing Strategy
        .px-4.pt-5.flex-col
            .fwn My Agency Marketing Strategy
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
.col-lg-3.col-md-4.col-sm-6.col-xs-12.mb-5
    %a.card.card--document.h-100.mb-0.d-flex.flex-column.no-underline.color-dark-blue{:href => "https://www.canva.com/design/DAFW1OySTAE/7UqcLXgTm3wNDdK57eCyog/view?utm_content=DAFW1OySTAE&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink&mode=preview#1", :target => "_blank"}
        .card-image.br-10.relative
            = image_tag 'resourses-item-bg.svg', class: "document-image br-10 w-100"
            .card--document-image-title Marketing Strategy
        .px-4.pt-5.flex-col
            .fwn Marketing Strategy
        .px-3.py-4
            %span.button.btn.width100.btn-lg.btn--dark.f-w-lg View
