%table{:align => "center", :bgcolor => "#F5F7FA", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr{:bgcolor => "#f7af30"}
    %td{:align => "center", :style => "text-align: center;"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td{:style => "color: #FFF; font-size: 28px; line-height: 28px; font-weight: bold; padding: 20px 0 10px;"}
              Weekly Mailer Summary
          %tr
            %td{:style => "color: #FFF; font-size: 18px; line-height: 18px; font-weight: bold; padding: 0 0 20px;"}
              %small= @formatted_date

    %tr
      %td
        %table{:bgcolor => "#f7f8f9", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
          %tbody
            %tr
              %td{:style => "color: #646464; font-size: 18px; line-height: 28px; font-weight: bold; padding: 0;"}
                %table{:style => "width: 100%; max-width: 680px; margin: 20px auto;font-size: 15px; line-height: 25px; font-weight: normal;"}
                  %tbody
                    %tr{:bgcolor => "#fFF"}
                      %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;"} Name
                      %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px"} Services
                      %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;"} Errors/Reasons
                    - @biz_statuses.each_with_index do |(biz_id, biz), index|
                      %tr{:bgcolor => "#{index.odd? ? '#FFF' : ''}"}
                        %td{:style => "font-size: 13px; color:#6ac341;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;"}
                          = biz[:name]
                        %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px"}
                          = [(biz[:google_analytics_service] ? 'analytics' : nil),
                             (biz[:seo_service] ? 'seo' : nil),
                             (biz[:google_ads_service] ? 'google_ads' : nil),
                             (biz[:facebook_ads_service] ? 'facebook ads' : nil)].compact.join(', ')
                        %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;"}
                          = [biz[:emails], biz[:analytics_data], biz[:top_10_keywords], biz[:top_google_ads_keywords], biz[:display_summary], biz[:facebook_ads]].compact.join(', ')
