%table{:align => "center", :bgcolor => "#F5F7FA", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr{:bgcolor => "#f7af30"}
    %td{:align => "center", :style => "text-align: center;"}
      %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td{:style => "color: #FFF; font-size: 28px; line-height: 28px; font-weight: bold; padding: 20px 0 10px;"}
              OneIMS Keywords Listing
          %tr
            %td{:style => "color: #FFF; font-size: 18px; line-height: 18px; font-weight: bold; padding: 0 0 20px;"}
              %small= @formatted_date

  %tr
    %td
      %table{:bgcolor => "#f7f8f9", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %tbody
          %tr
            %td{:style => "color: #646464; font-size: 18px; line-height: 28px; font-weight: bold; padding: 0;"}
              %table{:style => "width: 100%; max-width: 680px; margin: 20px auto;font-size: 15px; line-height: 25px; font-weight: normal;"}
                %tbody
                  %tr{:bgcolor => "#fFF"}
                    %td{rowspan: 2, :style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;"} Keywords
                    %td{colspan: 3, :style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px; text-align: center"} Google
                  %tr{:bgcolor => "#fFF"}
                    %td.success.pointer{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;"} Rank
                    %td.success.pointer{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;"} Change
                    %td.success.pointer{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;"} URL
                  - @keywords.each_with_index do |keyword, index|
                    %tr{:bgcolor => "#{index.odd? ? '#FFF' : ''}"}
                      %td{:style => "font-size: 13px; color:#6ac341;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;"}
                        = keyword['name']
                      %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px"}
                        = keyword['googleRanking'] || '100+'
                      %td{:style => "font-size: 13px; color:#6ac341;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;width:45px"}
                        - if keyword['google_ranking_change']
                          %span{:style => "color: #{keyword['google_ranking_change'].to_i < 0 ? 'red' : 'green'}"}>
                            %span{style: "font-size: 11px; "}
                              - if keyword['google_ranking_change'].to_i >= 0
                                ▲
                              - else
                                ▼
                            = keyword['google_ranking_change'].to_s.gsub(/[+-]/, '')
                      %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px"}
                        = keyword['googleRankingUrl']
