Competition #{@competitor.name} was added by #{@business.name} : #{@current_user.name} <#{@current_user.email}>
%a{href: "#{ENV['ONEIMS_HOME_URL']}/direct_leads/create_from_clickx?domain=#{@competitor.name}"} Click here to add this lead to Direct leads in home.
