%div.col-md-12
  .row.case_study_form
    .form-group
      = f.label :name
      = f.text_field :name, required: true, class: 'form-control login', placeholder: 'Name'
    .form-group
      = f.label :agency
      = f.select :agency_id, Agency.order(:name).pluck(:name, :id), { include_blank: 'Select Agency' }, required: true, class: 'form-control'
    .form-group.select_business
    .form-group
      = f.label :amount
      = f.number_field :amount, required: true, class: 'form-control login', placeholder: 'Amount', step: 0.01
    .form-group
      = f.label :implementation_fee
      = f.number_field :implementation_fee, class: 'form-control login', placeholder: 'Implementation Fee'
    .form-group
      = f.label :billing_category
      = f.select :billing_category, CustomPackage.billing_categories.keys, { include_blank: 'Select Billing mode' }, required: true, class: 'form-control'
    .form-group
      = f.label :description
      = f.text_area :description, required: true, class: 'form-control login', placeholder: 'Description'
    .form-group
      = f.submit "Save", class: 'btn btn-warning saveBtn'
:javascript
  $('#custom_package_agency_id').change(function(){
    $.ajax({
      url: '/s/custom_packages/load_businesses?agency_id=' + $(this).val(),
      type: 'get',
      dataType: 'json',
      success: function(response){
        $('.select_business').html(response.data.content)
      }
    })
  })
