.pb-md.page-heading.no-margin-bottom
  %h1
    %i.clickx-icon-page-cog.title-icon>
    = I18n.t('authy_register_title', {:scope => 'devise'}).titleize
  .options
    .form-group
      = link_to profile_path, class: 'btn btn-white btn-raised' do
        %i.fa.fa-arrow-left.pr-xs
        Back
.container-fluid
  %div
    .row
      .col-md-12.mt-md
        .tab-content
          .panel.panel-profile
            .tab-content
              .active.tab-pane.p-md
                .row
                  .col-md-12
                    = enable_authy_form do
                      .form-group.m-n
                        %label.col-sm-2.control-label
                          = I18n.t('devise.country')
                        .col-sm-10.tabular-border
                          = text_field_tag :country_code, '', autocomplete: :off, id: 'authy-countries', class: 'form-control'
                      .form-group.m-n
                        %label.col-sm-2.control-label
                          = I18n.t('devise.cellphone')
                        .col-sm-10.tabular-border
                          = text_field_tag :cellphone, '', autocomplete: :off, id: 'authy-cellphone', class: 'form-control'
                      .col-sm-12.p-n.mt-md
                        = submit_tag I18n.t('enable_authy', {scope: 'devise'}), class: 'btn btn-raised btn-success'
                        = link_to 'Cancel', profile_path, class: 'btn btn-raised btn-default'
