- content_for :title do
  Login 2FA

.col-md-10.col-sm-12.col-xs-12.col-md-offset-1.col-sm-offset-0.col-xs-offset-0
  .col-md-offset-3.col-sm-offset-3.col-md-6.col-sm-6.p-lg
    = verify_authy_form do
      .form-group
        = text_field_tag :token, '', autocomplete: :off, id: 'authy-token', class: 'form-control', autofocus: true, placeholder: 'Token'
      %button.btn.btn-warning{type: 'submit'} Verify
      = authy_request_sms_link class: 'forgot pull-right inline'
      .checkbox.pull-left.inline
        = check_box_tag :remember_device
        %label= I18n.t('remember_device', { scope: 'devise'})
