- content_for :title do
  FAQs | Clickx
.header
  .col-xs-12.col-sm-12.col-lg-12.mb-md
    %h1
      FAQ

  .container-fluid
    %div{"data-widget-group" => "group1"}
      .row
        .col-xs-12
          %ul.nav.nav-tabs.nav-justified
            - Faq::SECTIONS.each_with_index do |section, index|
              %li{class: index.zero? ? 'active' : ''}
                %a.w100{"data-toggle" => "tab", :href => "#sec-#{index}"}= section[0]
        .col-md-12
          .tab-content
            - Faq::SECTIONS.each_with_index do |section, index|
              .tab-pane.pt-n.p-md{id: "sec-#{index}", class: index.zero? ? 'active' : '' }
                .panel-group.mt-md{id: "faq-#{section[1]}"}
                  - faqs = Faq.where(section: section[1]).order(position: :asc)
                  - faqs.each do |faq|
                    .panel.panel-default{"data-url" => sort_super_admin_faq_path(faq)}
                      %a{"data-parent" => "#faq-#{section[1]}", "data-toggle" => "collapse", :href => "#collapse#{faq.id}"}
                        .panel-heading
                          %h2= faq.question
                          %a.pull-right.ml-md{href: super_admin_faq_path(faq), 'data-method': :delete, 'data-confirm': 'Are you sure you want to delete this FAQ entry?' }
                            %i.fa.fa-trash
                          %a.pull-right{href: edit_super_admin_faq_path(faq)}
                            %i.fa.fa-edit
                      .collapse{id: "collapse#{faq.id}"}
                        .panel-body
                          %p= faq.answer.html_safe

%a.btn.btn--add.pull-right{ 'href': new_super_admin_faq_path}
  %i.glyphicon.glyphicon-plus.glyphplus

- Faq::SECTIONS.each do |section|
  :javascript
    $(document).ready(function(){
      $("#faq-#{section[1]}").sortable({
        update: function(e, ui) {
          $.ajax({
            url: ui.item.data('url'),
            type: "post",
            data: { position: ui.item.index() + 1 }
          });
        }
      });
    });
