.page-heading.no-margin-bottom
  %h1
    %i.clickx-icon-Performance-Review.title-icon>
    Clickx Reviews
    %small Reviews

.container-fluid
  %div
    .row
      .col-md-12
        %ul.nav.nav-tabs.material-nav-tabs.mb-lg
          %li
            %a{href: "/b/reviews"} All Locations
          %li{role:'presentation' }
            %a{href: "/b/locations/#{location.id}/reviews"} Latest Reviews
          %li{role:'presentation', class: "active"}
            %a{href: "/b/locations/#{location.id}/reviews/site"} Reviews by Site
          %li{role:'presentation'}
            %a{href: "/b/locations/#{location.id}/reviews/ratings"} Reviews by Rating

      .col-md-12
        .tab-content
          .dashboard
            .row
              .col-md-12
                .panel.panel-default{'data-widget': {draggable: 'false'}}
                  .panel-body
                    .tab-container
                      .table-responsive
                        %table.table.table-bordered.table-vam
                          %thead
                            %tr
                              %th{style: 'padding-right:250px;'} Site/Directory
                              %th.text-center Avg. Rating
                              %th.text-center All Time
                              %th.text-center Actions
                          %tbody
                            - sitewise_reviews.each do |dir|
                              %tr{'ng-show':'sitewise_reviews.length > 0'}
                                %td
                                  %h2.intialtitle-panel
                                    %img.panel-logo.mt-n{alt: "#{dir.name}", src: "/directories/#{dir.directory}.png" }
                                    #{dir.name }
                                - if dir.rating != 0
                                  %td.text-center
                                    .star-rating.pr-n
                                      - dir.rating.to_i.times do |star|
                                        %i.fa.gold-star{ class: "fa-star" }
                                      - (5 - dir.rating.to_i).times do |star|
                                        %i.fa.gold-star{ class: "fa-star-o" }
                                - if dir.rating == 0
                                  %td.reviewflow-ratings.text-center
                                    No Rating
                                %td #{dir.reviews}
                                %td.text-center
                                  %a.btn.btn-success.btn-raised.btn-label{href: "/b/locations/#{location.id}/reviews/directory/#{dir.directory}"}
                                    %i.fa.fa-check
                                    Read reviews
