%tr
  %td{:align => "center", :style => "padding: 40px 0 0; text-align: center;"}
%tr
  %td{:style => "color: #646464; font-size: 25px; line-height: 25px; font-weight: bold; padding: 0 0 10px; text-align:center;"}
    Inactive Free Accounts
%tr
  %td{:style => "color: #646464; font-size: 18px; line-height: 28px; font-weight: bold; padding: 0;"}
    %table{:style => "width: 100%; max-width: 680px; margin: 20px auto;font-size: 15px; line-height: 25px; font-weight: normal;"}
      %tbody
        %tr{:bgcolor => "#fFF"}
          %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px"} Company
          %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px"} User Name
          %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;width:10%;"} Email
          %td{:style => "font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:15px;margin:0;padding:6px 3px;width:10%;"} Joined Date
        - @inactive_accounts.each_with_index do |account, index|
          %tr{:bgcolor => "#{index.odd? ? '#FFF' : ''}"}
            %td{style: 'padding-left: 5px;'}
              %a{:style => "font-size: 13px; color:#4f88bf;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;margin:0;padding:0", target: "_blank"}= account[:biz_name]
            %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;width:12%;"}= account[:user_name]
            %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;width:12%;"}= account[:user_email]
            %td{:style => "font-size: 13px; font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:13px;margin:0;padding:6px 3px;width:12%;"}= account[:created_at]

