%h2 Edit Lead
.row.mt-xxl
  .col-md-12
    = form_for (@lead), url: super_admin_lead_path(agency_slug: @lead.agency.name_slug), method: :patch, class: 'form-vertical cardy clickx-parsley',"data-parsley-validate": '' do |f|
      .panel.tranin.panel-midnightblue{style: 'visibility:visible'}
        .panel-body
          .col-sm-12.p-n
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label{for: 'user_first_name'}
                First Name
                .red.inline *
              .col-md-12
                = f.text_field :first_name, required: true, class: 'form-control col-sm-5'
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label{for: 'user_last_name'}
                Last Name
              .col-md-12
                = f.text_field :last_name, class: 'form-control col-sm-5'
          .col-sm-12.p-n
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label{for: "user_email"}
                Email
                .red.inline *
              .col-md-12
                = f.email_field :email, required: true, class: 'form-control'
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label{for: "business_name"}
                Company
                .red.inline *
              .col-md-12
                = f.text_field :company, required: true, class: 'form-control col-sm-5'
          .col-sm-12.p-n
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label{for: 'user_phone'}
                Phone
              .col-md-12
                = f.phone_field :phone, class: 'form-control', placeholder: "+1 555 555 1234"
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label{for: "business_domain"}
                Domain
              .col-md-12
                = f.text_field :domain, class: 'form-control col-sm-5'
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label
                Status
              .col-md-12
                = f.select :status, ::Lead.status_collection, {}, class: 'form-control col-sm-5'
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label
                Monthly Marketing Budget (Including Ad Budget)
              .col-md-12
                = f.text_field :value, class: 'form-control col-sm-5'
            .form-group.m-n.p-n.col-sm-6
              %label.col-md-12.control-label
                Next Meeting Date (discovery call)
              .col-md-12
                = f.text_field :next_meeting_date, class: 'form-control col-sm-5', value: f.object.next_meeting_date&.to_date&.strftime('%m-%d-%Y')

      .panel.panel-default{style: 'visibility:visible'}
        .panel-body
          .col-sm-12.p-n
            %h3.col-sm-12.mb-lg.regsubt
              Client is Interested in
              .red.inline *
              %small.font-14 (select atleast one)
            - Lead::CAMPAIGN_INFO.each do |info|
              .form-group.m-n.p-n.col-sm-6
                .col-md-12
                  .checkbox.checkbox-inline.checkbox-warning
                    %label
                      = check_box_tag "lead[campaign_info][#{info[:key]}]", '', @lead.campaign_info&.include?(info[:key]) , class: 'lead_campaign_info_check'
                      = info[:name]

      .panel.panel-default{style: 'visibility:visible'}
        .panel-body
          %h3.col-sm-12.mb-lg.regsubt
            = precede "Client's Current Marketing Tactics" do
              %small.font-14 What marketing tactics are they currently doing?
              %small.font-14 What is their current marketing budget?
              %small.font-14 What have they done in the past for marketing? What worked? What did not work?
          .form-group.m-n.col-sm-12.p-n
            .col-sm-12
              = f.text_area :current_info, class: 'form-control col-sm-5', rows: 10

      .panel.panel-default{style: 'visibility:visible'}
        .panel-body
          %h3.col-sm-12.mb-lg.regsubt Competitor Information
          .form-group.m-n.col-sm-6.p-n
            %label.col-md-12.control-label{:for => "fieldname"} Competitor 1:
            .col-md-12
              %input.form-control{name: 'lead[competitor_info][]', required: "", type: "text", value: @lead.competitor_info[0]}
          .form-group.m-n.col-sm-6.p-n
            %label.col-md-12.control-label{:for => "fieldname"} Competitor 2:
            .col-md-12
              %input.form-control.col-sm-5{name: 'lead[competitor_info][]', required: "", type: "text", value: @lead.competitor_info[1]}
          .form-group.m-n.col-sm-6.p-n
            %label.col-md-12.control-label{:for => "fieldname"} Competitor 3:
            .col-md-12
              %input.form-control.col-sm-5{name: 'lead[competitor_info][]', required: "", type: "text", value: @lead.competitor_info[2]}

      .panel.tranin.panel-default{style: 'visibility:visible'}
        .panel-body
          %h3.col-sm-12.mb-lg.regsubt
            = precede 'Client Goals & Expectations' do
              %small.font-14 What are they looking to achieve from marketing? What are their goals?
              %small.font-14 What are they looking to invest in marketing?
          .form-group.m-n.col-sm-12.p-n
            .col-sm-12
              = f.text_area :goals_and_expectations, class: 'form-control col-sm-5', rows: 10
      .panel.panel-default{style: 'visibility:visible'}
        .panel-body
          %h4.col-sm-12.mb-lg.regsubt
            = precede 'Next Steps' do
              %small.font-14 We need Admin Access to perform any Audits.
          - Lead::NEXT_STEPS.each do |info|
            .form-group.m-n.p-n.col-sm-6
              .col-md-12
                .checkbox.checkbox-inline.checkbox-warning
                  - if lead_next_step_enabled?(info[:key], @lead.agency)
                    %label
                      = check_box_tag "lead[next_steps][#{info[:key]}]", '', @lead.next_steps&.include?(info[:key]), disabled: info[:disabled]
                      = info[:name]
                  - else
                    %label
                      = check_box_tag 'temp', '', false, disabled: true
                      = info[:name]
                    %span.custom-tooltip
                      %i.fa.fa-lock
                      %span.custom-tooltiptext
                        Requires Pro Plan or Higher
          .form-group.col-sm-6.audit_request.hidden
            %label.col-md-12.control-label
              Do you have access to the account?
            .col-md-12
              = f.select :audit_request, Lead::AUDIT_REQUESTS, { include_blank: 'Select Answer' }, class: 'form-control col-sm-5'

      .panel.tranin.panel-default{style: 'visibility:visible'}
        .panel-body
          %h3.col-sm-12.mb-lg.regsubt
            Call Notes
            .red.inline *
          .form-group.m-n.col-sm-12.p-n
            .col-sm-12
              = f.text_area :call_notes, class: 'form-control col-sm-5', rows: 10
        .panel-footer.pt-n
          .col-sm-12
            = f.submit "Update", class: 'hidden form_submit'
            %a.btn.btn-warning.btn-raised.btn-lg.mb-lg.save_lead{href: 'javascript:void(0)'}
              Update

:javascript
  $(function() {
    $("#lead_next_meeting_date").datepicker({
      todayHighlight: true,
      minDate: 0,
      nextText: '',
      prevText: '',
      dateFormat: "mm-dd-yy"
    });
  });

  $('.save_lead').click(function(){
    if ($('.lead_campaign_info_check').filter(':checked').length < 1){
      toastr.error('Please Select any Interest.')
    }else{
      $('.form_submit').click();
    }
  })

  $("input[name='lead[next_steps][account_campaign_audit]']").change(function() {
    if(this.checked) {
      $('.audit_request').removeClass('hidden')
    }else{
      $('.audit_request').addClass('hidden')
    }
  });
