%p
  -# %h3.text-center{dir: 'ltr'}
  -#   %strong Service Level Agreement
  %p{dir: 'ltr'} The following section outlines the working practices operated by Clickx and the standards of service offered to clients and partners in conducting fulfillment.
  %p{dir: 'ltr'} This agreement is designed to set clear expectations of the standard of service you can expect from Clickx as your white label agency partner. Equally, it explains the limits of our liability and responsibility. This agreement forms part of our commitment to the transparency and openness that we believe is vital to any business relationship. We believe that by clarifying these responsibilities upfront it will help streamline campaigns and ensure their timely delivery.
  .clearfix.m-md
  %p.text-center{dir: 'ltr'}
    %strong.italic-font Hours of Operation &amp; Communications
  %p{dir: 'ltr'}
    Our standard hours of operations are from
    = succeed ".\u{a0}" do
      %strong 8:00 AM EST to 5:00 PM EST
  %ol{dir: 'ltr'}
    %li{role: 'presentation'} During this time our team is monitoring email and incoming calls.
    %li{role: 'presentation'} In instances where our team receives an unscheduled call, please leave a message with our receptionist so our team can email and/or call in an understanding of the situation. 
    %li{role: 'presentation'}
      While we are available outside of our standard hours for urgent and emergency situations, this will be on a case by case basis.
      %br/
      %em [see further details below in ‘After Hours Process’ section]
.view_more_section.hidden
  %p
    %br/
    Emails received between
    %strong 8:00 AM EST and 4:00 PM EST
    should receive responses within the same business day.
  %ol{dir: 'ltr'}
    %li{role: 'presentation'} Emails received outside of the above timeframe will be responded to within the next business day.
    %li{role: 'presentation'}
      See
      = succeed " for information on urgent and emergency situations." do
        %em ‘After Hours Process'
      %br/
       
  %p{dir: 'ltr'}
    We are available via phone within our standard hours of operation of
    = succeed "." do
      %strong 8:00 AM EST to 5:00 PM EST
  %ol{dir: 'ltr'}
    %li{role: 'presentation'} If we miss your call, please leave a message with the receptionist regarding the nature of your market and with whom you are looking to speak with. 
    %li{role: 'presentation'} On a per-call basis, our team will contact you via email or phone depending on the nature of the call.
    %li{role: 'presentation'}
      If it is reaching the End of Business day for our team, there may be a delay in response till the next Business day
      = succeed ".\u{a0}" do
        %em [depending on the nature of the call]
      %br/
       
  %p{dir: 'ltr'} All Kick-Off Calls will be scheduled within 48 business hours of receiving payment permitting availability of all parties involved.
  %ol{dir: 'ltr'}
    %li{role: 'presentation'}
      If you require a delay in the Kick-Off call for any reason, please contact our team for any billing adjustments
      = succeed ".\u{a0}" do
        %em [if applicable]
    %li{role: 'presentation'} Partners are responsible for contacting our team if a delay does come up with the Kick-Off of any projects our team is fulfilling. If not, our team will keep billing on the date of purchase. 
  .clearfix.m-md
  %p.text-center{dir: 'ltr'}
    %strong.font-italic Account Access and Locked Accounts
  %p{dir: 'ltr'}
    Gaining Account Access should be completed prior to the Kick-Off call if possible. If not possible, please ask our team for any assistance in doing so. 
  %ol{dir: 'ltr'}
    %li{role: 'presentation'} Please ensure the client is ready to move forward prior to scheduling the KO call and that our team will have proper access to the Ad Account no later than 48 hours after the KO call has occurred.
    %li{role: 'presentation'}
      Should new accounts need to be made:
      %br/
      The Agency Partner is responsible for setting up the Account for the client prior to our team fulfilling services. If you would like our team to set this up, there is a fee associated. 
    %li{role: 'presentation'}
      If Account Access is not provided at the time of Kick-Off and an extended period goes by, the partner is responsible for informing us to pause/stop the billing. 
      %br/
       
  %p{dir: 'ltr'}
    Should an Ad Account become locked/disabled, our team will inform the appropriate parties on the account. Our team will advise on the best way(s) to proceed from the client's end as well as the efforts we’re making on ours. 
  %ol
    %li{role: 'presentation'}
      It should be noted that such an occurrence is out of both our control or the client’s control; and for the client to have that expectation set. We will do everything in our power to get this reinstated, but it lies solely dependent on the Platform. 
      %ol{type: 'a'}
        %li
          This does
          = succeed " mean our team will cease working on strategic standpoints that we can put in place or bettering the campaign by doing further research into audience types and new creatives. We will continue to perform these actions." do
            %strong not
        %li
          Our team will also be dealing with the Platform support team
          = succeed ".\u{a0}" do
            %em [for applicable clients that are receiving White Glove Customer Service]
        %li
          This will not cease billing unless our team has not gone into the account
          %em> [please contact our team if this does happen]
          \.
  .clearfix.m-md
  %p.text-center{dir: 'ltr'}
    %strong.italic-font
      After-Hours Process
      %em [for Emergencies &amp; Urgent Inquiries]
  %p{dir: 'ltr'}
    We monitor our inboxes outside of business hours for emergencies and urgent requests.
    %br/
    Should such an incident occur, our Out of Office procedures are to follow:
  %ol
    %li{dir: 'ltr'}
      %p{dir: 'ltr', role: 'presentation'}
        Week Day Out of Office Hours are from
        = succeed "." do
          %strong 5:01 PM EST to 7:59 AM EST
      %ol{type: 'a'}
        %li{dir: 'ltr'}
          If our team receives a call or email during the above hours, our team will assess the urgency of the situation. If it is not an urgent matter, a response will be given on the next business day. 
  %ol{start: '2'}
    %li{dir: 'ltr'}
      %p{dir: 'ltr', role: 'presentation'}
        Weekends are Out of Office and include
        = succeed "." do
          %strong Saturday - Sunday
      %ol{type: 'a'}
        %li{dir: 'ltr'}
          Similar to the above statement our team will assess the urgency of the situation and respond accordingly. If it is not an urgent matter, a response will be given on the next business day
          %em> [Monday if not a US Holiday] 
  %ol{start: '3'}
    %li{dir: 'ltr'}
      %p{dir: 'ltr', role: 'presentation'}
        U.S. National Holidays are considered Out of Office
        %br
        Our team will assess the urgency of the situation and respond accordingly. If it is not an urgent matter, a response will be given on the next available business day.
      %ol{type: 'a'}
        %li{role: 'presentation'} Our team will assess the urgency of the situation and respond accordingly. If it is not an urgent matter, a response will be given on the next available business day.
        %li{role: 'presentation'}
          Our U.S. Holidays include and may not be limited to the following:
          %ol{type: 'i'}
            %li{role: 'presentation'} New Year’s Day, Memorial Day, Independence Day, Labor Day, Thanksgiving Day, Friday after Thanksgiving (“Black Friday”), and Christmas Day
.view_more_actions.text-center
  %a.view_more_btn{href: 'javascript:void(0)'}
    View More...

:javascript
  $('.view_more_btn').click(function() {
    $('.view_more_section').removeClass('hidden');
    $(this).addClass('hidden');
  });
