- content_for :title do
  Checkout
= render 'stripe/assets'
.page-heading
  %h1 Checkout - Package Detail
- steps = checkout_steps(current_agency, @package, @plan)
= hidden_field_tag :base_route, '/b/package_subscriptions'
.container.container--sm.container--contained
  .checkout-stages.pt-xl
    - steps.each_with_index do |step, index|
      .checkout_steps{id: "step_#{step}_content", class: "#{'hidden' unless step.eql?('plan')}"}
        = render "business/package_subscriptions/shared/step_#{step}", next_step: (steps[index + 1] || 'finish'), steps: steps
