- agency = @lead.agency
- if controller.action_name == 'carousel_preview'
  .change-view-buttons
    %a.change-view-button{:href => preview_super_admin_lead_strategy_path(@lead, @lead_strategy)}
      = image_tag 'lead_strategy/icon-landscape.svg'
    %a.change-view-button.active{:href => "javascript:void(0)"}
      = image_tag 'lead_strategy/icon-carousel.svg'
- else
  .change-view-buttons
    %a.change-view-button{:href => lead_strategy_public_link(@lead_strategy)}
      = image_tag 'lead_strategy/icon-landscape.svg'
    %a.change-view-button.active{:href => "javascript:void(0)"}
      = image_tag 'lead_strategy/icon-carousel.svg'
= render "public/lead/strategies/shared_carousel/#{::Lead::Strategy::CATEGORIES[@lead_strategy.category]}", agency: agency

:javascript
  (function($){
    $(window).on("load",function(){
      $("body").mCustomScrollbar({
        theme:"minimal"
      });
    });
  })(jQuery);

  var winWidth = $(window).width();
  if(winWidth > 991) {
    const slider = $(".strategy_carousel");
    slider.slick({
      centerPadding: '0',
      slidesToShow: 1,
      infinite:false,
    });
    slider.on('wheel', (function(e) {
      e.preventDefault();
      if (e.originalEvent.deltaX > 10) {
        $(this).slick('slickNext');
      } else if (e.originalEvent.deltaX < -10) {
        $(this).slick('slickPrev');
      }
    }));
  }
