- clients.each do |client|
  - reports = client.google_ad_reports.group_by(&:report_date)
  %tr
    %td
      = client.name
      .grey-btn-group
        %a.btn.grey-btn-icon.align-icon{href: switch_to_business_user_path(business_id: client.id)}
          %i.fa.fa-sign-in.blue.font-size12.color-white
            Login
    - if reports.present?
      - report = reports[Date.today.beginning_of_month]&.first
      - if report.present?
        %td
          = report.impressions&.round(2) || '-'
        %td
          = report.interactions&.round(2) || '-'
        %td
          = report.interaction_rate&.round(2) || '-'
        %td
          = report.avg_cost ? number_to_currency(report.avg_cost/1000000, precision: 2) : '-'
        %td
          = report.cost ? number_to_currency(report.cost/1000000, precision: 2) : '-'
        %td
          = report.conversion&.round(2) || '-'
      - else
        %td{colspan: 6}
          No data available


      - report = reports[1.month.ago.beginning_of_month.to_date]&.first
      - if report.present?
        %td
          = report.impressions&.round(2) || '-'
        %td
          = report.interactions&.round(2) || '-'
        %td
          = report.interaction_rate&.round(2) || '-'
        %td
          = report.avg_cost ? number_to_currency(report.avg_cost/1000000, precision: 2) : '-'
        %td
          = report.cost ? number_to_currency(report.cost/1000000, precision: 2) : '-'
        %td
          = report.conversion&.round(2) || '-'
      - else
        %td{colspan: 6}
          No data available

      - report = reports[2.month.ago.beginning_of_month.to_date]&.first
      - if report.present?
        %td
          = report.impressions&.round(2) || '-'
        %td
          = report.interactions&.round(2) || '-'
        %td
          = report.interaction_rate&.round(2) || '-'
        %td
          = report.avg_cost ? number_to_currency(report.avg_cost/1000000, precision: 2) : '-'
        %td
          = report.cost ? number_to_currency(report.cost/1000000, precision: 2) : '-'
        %td
          = report.conversion&.round(2) || '-'
      - else
        %td{colspan: 6}
          No data available
    - else
      %td{colspan: 18}
        Please try reconnecting your account
