- landing_page_info = @grader_report.landing_page_info
.col-md-12
  .panel.panel-grader
    .panel-heading
      %h2.f-s-lg On-Page Optimization
    .panel-body.bg-white
      .panel-section
        %h4.mb-md.f-s-md.mt-0 Title Tag
        .border-panel.tooltips.no-shadow
          - if landing_page_info.title.present?
            = landing_page_info.title
          - else
            No title found
        .spacer20
        - if landing_page_info.valid_title
          .panel.ui-message.ui-message-success{"data-widget-draggable" => "false"}
            .panel-heading.d-flex.justify-content-between
              %div
                %span.ui-message__icon
                  %span.fa.fa-check
                %span Title tag meets the recommended guideline
              %a.panel-ctrls{"aria-controls" => "collapseExample2", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample1", :role => "button"}
                %span.icon-question ?
          #collapseExample1.panel-body.bg-white.collapse
            .form-group.mt-n.pb-n
              %i
                Congratulations! It looks like your Homepage title tag is within our recommended length of 50-60 characters. Keep in mind that this is not the only criteria that matters when it comes to SEO. Be sure to clearly define what this website is about and include the primary keyword that you would like to rank for. It is important to create title tags that describe your content and encourage user clicks. Keep in mind that this is only reflecting the title tag of your home page, to get an audit of your entire website, you must upgrade your account here.
        - else
          .panel.ui-message.ui-message-danger{"data-widget-draggable" => "false"}
            .panel-heading.d-flex.justify-content-between
              %div
                %span.ui-message__icon
                  %span.fa.fa-close
                %span Title tag meets the recommended guideline
              %a.panel-ctrls{"aria-controls" => "collapseExample2", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample1", :role => "button"}
                %span.icon-question ?
          #collapseExample1.panel-body.bg-white.collapse
            .form-group.mt-n.pb-n
              %i
                It looks like your Homepage title tag is outside of our recommended length. Your title tag should be between 50-60 characters. Be sure to clearly define what this website is about and include the primary keyword that you would like to rank for. It is important to create title tags that describe your content and encourage user clicks. Keep in mind that this is only reflecting the title tag of your home page, to get an audit of your entire website, you must upgrade your account here.
      .panel-section.bg-silver
        %h4.mb-md
          Description
          %span.badge.tooltips{"data-original-title" => "Details", "data-trigger" => "hover"}
        .border-panel.tooltips.no-shadow.bg-white
          - if landing_page_info.description
            = landing_page_info.description
          - else
            No description found
        .spacer20
        - klass = landing_page_info.description ? 'success' : 'danger'
        .panel.ui-message{class: "ui-message-#{klass}", "data-widget-draggable" => "false"}
          .panel-heading.d-flex.justify-content-between
            %div
              %span.ui-message__icon
                - if landing_page_info.description
                  %span.fa.fa-check
                - else
                  %span.fa.fa-close
              %span Description tag meets the recommended guideline
            %a.panel-ctrls{"aria-controls" => "collapseExample2", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample2", :role => "button"}
              %span.icon-question ?
          #collapseExample2.panel-body.collapse.bg-white
            .form-group.mt-n.pb-n
              - if landing_page_info.valid_description
                %i
                  = "Good work! Your Meta Description is #{landing_page_info.description.length} characters. The ideal length of a meta description is between 150-160 characters. Now that you’ve got the length down, focus on creating the best possible meta description by clearly defining the content of the page, while including focus keywords that your customers will be searching for. Google uses meta descriptions to create the snippet that describes your page in the SERP listings."

              - else
                %i It looks like your Homepage meta description is outside of our recommended length. The ideal length of a meta description is between 150-160 characters. Once you get the length down, focus on creating the best possible meta description by clearly defining the content of the page, while including focus keywords that your customers will be searching for. Google uses meta descriptions to create the snippet that describes your page in the SERP listings.
      .panel-section
        %h4.mb-md
          H1
          %span.badge.tooltips{"data-original-title" => "Details", "data-trigger" => "hover"}
        .border-panel
          - h1_contents = landing_page_info.h1_contents&.select(&:present?) || []
          - if h1_contents.length == 0
            %span.ui-message__icon.ui-message__icon--danger
              %span.fa.fa-close
            %i No H1 tag found
          - else
            .well.well-sm.tooltips.no-shadow
              - if h1_contents.length == 1
                %p.mb-n= h1_contents.first
              - else
                - h1_contents.each do |content|
                  %li= content
        .spacer20
        - klass = landing_page_info.valid_h1 ? 'success' : 'danger'
        .panel.ui-message{class: "ui-message-#{klass}", "data-widget-draggable" => "false"}
          .panel-heading.d-flex.justify-content-between
            %div
              %span.ui-message__icon
                - if landing_page_info.valid_h1
                  %span.fa.fa-check
                - else
                  %span.fa.fa-close
              %span H1 tag meets the recommended guideline
            %a.panel-ctrls{"aria-controls" => "collapseExample2", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample3", :role => "button"}
              %span.icon-question ?
          #collapseExample3.panel-body.collapse
            .form-group.mt-n.pb-n
              - if landing_page_info.valid_h1
                %i Perfect! Your site is structured using HTML Headings. This helps Google prioritize your content. Make sure that your &ltH1&gt includes your most important keywords. Never duplicate your title tag content in your Header tag. Also remember that each page should only have one &ltH1&gt. Instead, use multiple &ltH2&gt - &ltH6&gt tags to organize the rest of your content.
              - elsif landing_page_info.h1_count.blank?
                %i Oh no! It looks like your homepage doesn’t have a &ltH1&gt tag. Google uses structured HTML Headings to prioritize your content. Make sure that your &ltH1&gt includes your most important keywords. Never duplicate your title tag content in your Header tag. Also remember that each page should only have one &ltH1&gt. Instead, use multiple &ltH2&gt - &ltH6> tags to organize the rest of your content.
              - elsif landing_page_info.h1_count > 1
                %i Oh no! It looks like your homepage is using multiple &ltH1&gt tags. This will be confusing to search engines and could negatively affect your rankings in search results. Make sure that your &ltH1&gt includes your most important keywords. Never duplicate your title tag content in your Header tag. Each page should only have one &ltH1&gt. Instead, use multiple &ltH2&gt - &ltH6&gt tags to organize the rest of your content.
              - elsif landing_page_info.h1_count == 0
                %i Oh no! It looks like your homepage doesn’t have a &ltH1&gt tag. Google uses structured HTML Headings to prioritize your content. Make sure that your &ltH1&gt includes your most important keywords. Never duplicate your title tag content in your Header tag. Also remember that each page should only have one &ltH1&gt. Instead, use multiple &ltH2&gt - &ltH6> tags to organize the rest of your content.
      .panel-section.bg-silver
        %h4.mb-md
          Security
          %span.badge.tooltips{"data-original-title" => "Details", "data-trigger" => "hover"}
        .border-panel.bg-white
          - if landing_page_info.ssl_enabled
            %span.ui-message__icon.ui-message__icon--success
              %span.fa.fa-check
          - else
            %span.ui-message__icon.ui-message__icon--danger
              %span.fa.fa-close
          %i Security meets the recommended guideline
      .panel-section
        %h4.mb-md
          Social Links
          %span.badge.tooltips{"data-original-title" => "Details", "data-trigger" => "hover"}
        .border-panel
          - if landing_page_info.links_empty?
            %span.ui-message__icon.ui-message__icon--danger
              %span.fa.fa-close
            %i No social links found
          - else
            .well.well-sm.tooltips.no-shadow.pt-n.pb-n
              %ul.list-unstyled.social.mb-n
                - landing_page_info.social_links&.each do |key, link|
                  %li
                    - if key.eql?('google_plus')
                      %a.btn.btn-social{href: link}
                        %i.f-s-20.fa{ class: "fa-google"}
                    - else
                      %a.btn.btn-social{href: link}
                        %i.f-s-20.fa{ class: "fa-#{key}"}
    .panel-footer
      %h4.mb-sm Pro Tip
      %p.mb-n The first page of Google recieves 96% of all searches for a given keyword. Organic traffic is gold in the online world. Google processes 3.5 billion searches per day. Optimizing your website for search is the foundation for generating targeted traffic, converting them into leads and increasing sales. If you don't see relevant keywords for your business, you're losing traffic, leads and revenue.
