.row.d-flex.flex-wrap
  - @value_hooks.each do |value_hook|
    .col-md-4.col-sm-6.col-xs-12.mb-5
      .bg-white.rounded.p-4.h-100{ id: "value_hook-#{value_hook.id}"}
        .pb-5
          .preview-thumb{:style => "background-image: url(#{value_hook.thumbnail&.file&.url})"}
        .pt-4.fs-md.d-flex.flex-wrap.align-items-center
          = link_to super_admin_value_hook_path(value_hook), class: 'btn btn-default grey-btn-icon d-flex align-items-center mx-1 my-0 py-1 fs-xxs px-3' do
            %i.glyphicon.glyphicon-eye-open.mr-2
            View
          = link_to edit_super_admin_value_hook_path(value_hook), "data-placement" => "bottom", class: 'btn btn-default grey-btn-icon d-flex align-items-center mx-1 my-0 py-1 fs-xxs px-3' do
            %i.glyphicon.glyphicon-pencil.mr-2
            Edit
          = link_to super_admin_value_hook_path(value_hook), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger grey-btn-icon d-flex align-items-center mx-1 my-0 py-1 fs-xxs px-3' do
            %i.fa.fa-trash.mr-2
            Delete