.ui-2020.navbar-fixed-top-2020
  %header#topnav.navbar.navbar-fixed-top.navbar-default{role: 'banner'}
    .logo-area
      %a.navbar-brand.navbar-brand-primary{ href: "#{current_user_dashboard}" }
        - if current_agency.square_logo.present?
          = image_tag current_agency.square_logo, alt: 'Clickx', class: 'show-on-collapse img-logo-white'
        - else
          = image_tag 'logo-icon-white.svg', alt: 'Clickx', class: 'show-on-collapse img-white'
        - if current_agency.logo.present?
          = image_tag current_agency.logo, alt: 'Clickx', class: 'img-white'
        - else
          = image_tag 'logo-white.svg', alt: 'Clickx', class: 'img-white'
      %span#trigger-sidebar.toolbar-trigger.toolbar-icon-bg.stay-on-search
        %a{"data-placement" => "right", "data-toggle" => "tooltips", :title => "Toggle Sidebar"}
          %span.icon-bg
            %i.material-icons menu
      .userdetailsclick.hidden-xs.toolbar-trigger.toolbar-icon-bg.ov-h
        %h4.title-fix
          .target-title
            #{current_agency.name} : #{current_user.email}
    %ul.nav.navbar-nav.toolbar.pull-right
      - dfyelite_remaining_days = current_agency.dfyelite_remaining_days
      - if dfyelite_remaining_days.present? && dfyelite_remaining_days >= 0
        %li
          %a.notification-90-days.fw-lg{href: '/a/packages/growth/agency_infrastructure'}
            #{dfyelite_remaining_days} #{'Day'.pluralize(dfyelite_remaining_days)}
            = succeed "Remaining" do
              %br
            .ripple-container

      - if growth_plan_key = current_agency.growth_plan_key
        %li.dropdown.toolbar-icon-bg
          .d-flex.align-items-center.nav--item
            %a.plan-upgrade.fw-lg.d-none.d-sm-block{href: '/a/packages/growth/agency_infrastructure'}
              %span.btn.btn-raised.btn-warning.btn-upgrade
                = image_tag 'icons/icon-crown.svg', alt: ''
                #{growth_plan_key.titleize}
                .ripple-container
            %span.bg-warning.btn-icon-rounded.d-inline-block.mr-3.py-2.rounded.text-center.show-beamer-notifications.my-4
              %i.fa.fa-bell

      %li.dropdown.toolbar-icon-bg{class: "#{'nav--item' if growth_plan_key.present?}"}
        %a.nav-account.dropdown-toggle{"aria-expanded" => "false", "data-placement" => "right", "data-toggle" => "dropdown", :title => "My account"}
          .nav-user-info.d-flex.align-items-center
            .nav-user__username.d-none.d-lg-block
              - if current_user.preview_user?
                System User
              - else
                #{current_user.name&.truncate(20)}
              %br
              %span ID # : #{current_user.unique_id}
            .avatar
              - if current_user.logo
                .avatar-img
                  = image_tag(current_user.logo, :alt => current_user.initials, class: 'media-object')
              - else
                .avatar-text
                  = current_user.initials
            %span.nav-user__icon
              %i.material-icons arrow_drop_down
          .ripple-container
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{href: '/profile'}
              %span.myaccicon.dropdown-icon>
                %i.clickx-icon-user
              My Profile

          - if original_user.super_admin?
            %li.divider
            .topnav-dropdown-header
              %span Switch Accounts
            - current_agency&.users.each do |user|
              %li
                = link_to switch_to_agency_user_path(agency_id: current_agency.id, user_id: user.id), class: user.id == current_user.id ? 'fw-800' : ''  do
                  = user.preview_user? ? 'System User' : user.first_name
      %li.dropdown.nav--item
        %a.myaccounticon.nav--dots.dropdown-toggle{"aria-expanded" => "false", "data-placement" => "right", "data-toggle" => "dropdown"}
          %span.icon-bg.pull-right
            %i.material-icons more_vert
          .ripple-container
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{href: '/a/billing_history'}
              %span.myaccicon.dropdown-icon
                %i.clickx-icon-Reports
              Billing
          - if policy(current_agency).users?
            %li
              %a{href: '/a/users'}
                %span.myaccicon.dropdown-icon
                  %i.clickx-icon-user-management
                Users
          - else
            %li.li--locked.user-locked
              %a.withripple.lock-access{href: "javascript:;"}
                %span.myaccicon.dropdown-icon
                  %i.clickx-icon-user-management
                %span Users
          %li
            %a{href: '/a/profile'}
              %span.myaccicon.dropdown-icon
                %i.clickx-icon-Strategy
              Agency Profile
          - if policy(current_agency).branding?
            %li
              %a{href: '/a/settings/branding'}
                %span.myaccicon.dropdown-icon
                  %i.clickx-icon-Premium
                Branding
          - else
            %li.li--locked
              %a{href: 'javascript:;'}
                %span.myaccicon.dropdown-icon
                  %i.clickx-icon-Premium
                Branding
          %li
            %a{href: '/a/settings'}
              %span.myaccicon.dropdown-icon
                %i.clickx-icon-Gear
              Settings
          %li.divider
          %li.py-3
            .toggle-darkmode.d-flex.align-items-center.text-black.pl-3
              .darkmode-switcher.d-inline-block.my-0.mr-3
                .darkmode-switch
                  %span.darkmode-switch-circle
                  .col 
                    %i.clx-icon-sun
                  .col 
                    %i.clx-icon-moon
              Darkmode
          %li.divider
          - if session[:admin_id].present?
            %li
              = link_to switch_to_admin_user_path do
                %span.myaccicon.dropdown-icon
                  %i.clickx-icon-Convert
                Switch To Admin User
          %li
            = link_to destroy_user_session_path do
              %span.myaccicon.dropdown-icon>
                %i.clickx-icon-power-button
              Logout
