!!!
%html{'ng-app':"clickxApp"}
  %head
    = render 'layouts/themeX/meta_tags'
    %title{"ng-bind":"title || 'Dashboard'"}
      = yield(:title)

    = render 'layouts/themeX/cdn'
    = render 'shared/init_vars'

    = stylesheet_link_tag 'themeX', media: 'all', 'data-turbolinks-track': false
    = javascript_include_tag "https://js.stripe.com/v2/", cache: true
    = javascript_include_tag "https://disutgh7q0ncc.cloudfront.net/beacon.js"
    = javascript_include_tag 'themeX', 'data-turbolinks-track': false
    = csrf_meta_tags
    = render partial: "layouts/favicon", locals: { agency_logo: current_agency&.favicon }

    = render 'layouts/themeX/fonts'
    = render 'layouts/themeX/ie_support'
    / = render 'layouts/themeX/freshwidget'
    = render 'layouts/themeX/init_cloudinary'
    = render 'shared/google_analytics'
    = render 'shared/wootric'

    %link{:rel => "manifest", :href => "manifest.json"}
  %body.sidebar-scroll{'ng-controller':'Home'}
    .ui-2020.navbar-fixed-top-2020
      %header#topnav.navbar.navbar-fixed-top.navbar-default{"ng-include":"", src: "'themeX/home/_bu_header.html'","ng-controller":"ThemeXHeaderController", 'ng-if': '!onboarding'}
    #wrapper.master-wrapper
      #layout-static
        .static-sidebar-wrapper.sidebar-dark.ui-2020.slidein-nav{"ng-include":"", src: "'themeX/home/_bu_sidebar.html'", 'ng-if': '!onboarding'}
        .static-content-wrapper{'ng-class': "{'b-color' : onboarding}"}
          .static-content
            .page-content
              .clickx-breadcrumb-wrapper{"ng-controller":"BreadcrumbController"}
                %clickx-breadcrumb{links:"breadcrumbLinks",enabled:"breadcrumbEnabled"}
              %div{'ng-view':''}
              = yield

    = render 'shared/vapid'
    = render 'shared/adblock_alert'
    = render 'shared/feedback_modal'

