!!!
%html{'ng-app':"clickxApp"}
  %head
    = render 'layouts/themeX/meta_tags'
    %title{"ng-bind":"title || 'Dashboard'"}
      = yield(:title)

    = stylesheet_link_tag 'themeX_base', media: 'all', 'data-turbolinks-track': false
    = stylesheet_link_tag "https://www.authy.com/form.authy.min.css"
    = javascript_include_tag "https://www.authy.com/form.authy.min.js"
    = javascript_include_tag "https://disutgh7q0ncc.cloudfront.net/beacon.js"
    = javascript_include_tag 'themeX_base', 'data-turbolinks-track': false
    = csrf_meta_tags
    = render partial: "layouts/favicon", locals: { agency_logo: current_agency&.favicon }

    = render 'layouts/themeX/fonts'
    = render 'layouts/themeX/ie_support'
    / = render 'layouts/themeX/freshwidget'
    = render 'shared/google_analytics'
    = render 'shared/wootric'

  %body.sidebar-scroll{'ng-controller':'Home'}
    = render 'layouts/themeX/flash'
    - if current_user.business_user?
      = render 'layouts/themeX/bu_header'
    - if current_user.agency_admin?
      = render 'layouts/themeX/aa_header'
    #wrapper.master-wrapper
      #layout-static
        - if current_user.business_user?
          = render 'layouts/themeX/bu_sidebar'
        - if current_user.agency_admin?
          = render 'layouts/themeX/aa_sidebar'
        .static-content-wrapper
          .static-content
            .page-content
              = yield
